[*.cs]

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# CS0219: Variable is assigned but its value is never used
dotnet_diagnostic.CS0219.severity = none

# CS0414: The field 'API.Auth' is assigned but its value is never used
dotnet_diagnostic.CS0414.severity = none
