/AstroClient/obj/
/AstroClient/obj/Debug
/.vs/
*.cache
/AstroServer/obj
/AstroServer/bin/Debug/net5.0
/AstroLoader/obj/Debug
/AstroLoader/bin/Debug
/AstroLibrary/bin/Debug/net5.0
/AstroLibrary/obj
/AstroLibrary/bin/Release/net5.0
/AstroServer/bin/Release/net5.0
/AstroLoaderServer/obj
/AstroLoaderServer/bin/Release/net5.0/AstroClient
/AstroLoaderServer/bin/Release/net5.0
/AstroLoader/obj/Release
/AstroLoader/bin/Release
/AstroLoaderServer/bin/Debug/net5.0
/packages/HtmlAgilityPack.1.11.32
